#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLE_MAKE_PWM 
    tristate "Make PWM example"
    default n
    depends on TIMER
    ---help---
        Enable the GPIO driver example

if EXAMPLE_MAKE_PWM 

config EXAMPLE_MAKE_PWM _PROGNAME
    string "Program name"
    default "make_pwm"
    ---help---
        This is the name of the program that will be used when the NSH ELF
        program is installed.

config EXAMPLE_MAKE_PWM _PRIORITY
    int "GPIO task priority"
    default 100

config EXAMPLE_MAKE_PWM _STACKSIZE
    int "GPIO stack size"
    default DEFAULT_TASK_STACKSIZE

endif