#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_MAKE_PWM_EXAMPLE
	tristate "PWM Example Application"
	default n
	depends on PWM
	---help---
		Enable the PWM example application

if EXAMPLES_PWM_EXAMPLE

config EXAMPLES_PWM_EXAMPLE_PROGNAME
	string "Program name"
	default "pwm_example"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_PWM_EXAMPLE_PRIORITY
	int "PWM Example priority"
	default 100
	---help---
		Priority of the PWM example application.

config EXAMPLES_PWM_EXAMPLE_STACKSIZE
	int "PWM Example stack size"
	default DEFAULT_TASK_STACKSIZE
	---help---
		Stack size of the PWM example application.

endif